#bar{
    width:100%; 
    height:9%; 
    position: relative;
    background-color: var(--dark1);
    box-shadow: 0px 3px 10px var(--dark1);
    z-index: 4;
}
#name{
    position: absolute;
    top:50%;
    left:2vw;
    transform: translate(0%, -130%);
    font-size: 2vw;
}
#display{
    width:100%; 
    height:100%;
}
#image{
    object-fit: cover; 
    width:60%; 
    height:91%;
    z-index: 1;
}
#info{
    display:inline-block; 
    position: absolute; 
    width:40%; 
    height:91%; 
    background-color: var(--dark2);
    z-index: 2;
}
#title{
    text-align: left;
    font-size: 3.25vw; 
    margin-top: 3vw;
    margin-bottom: 3vw;
	padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}
#desc{
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    font-size: 1.25vw; 
}
#launch{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 2vw;
    font-size: 2vw; 
    border-radius: 10px;
    border: 0px;
    padding: 0.5vw;
    background-color: var(--dark1);
    transition: 0.1s;
}
#launch:hover{
    font-size: 2.15vw;
}
#credits{
    position: absolute;
    font-size: 0.8vw; 
    top: 100%;
    left: 0%;
    transform: translate(0%, -200%);
    margin:10px;
	padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}
#rightbtn{
    left: 100%; 
    transform: translate(-120%, -50%);
}
#leftbtn{
    left: 0%; 
    transform: translate(20%, -50%);
}